/* MySmartHotel - Panel
·
· Hoja de estilos principal
·
· Autor: Alfonso Reyes Cortés | mrarc.xyz | @MxARC
·
*/

/*
===============================================
ARREGLOS
=================================================
*/

@-ms-viewport {
    width: 100vw;
    zoom: 100%;
    user-zoom: fixed;
}

@viewport {
    width: 100vw;
    zoom: 100%;
    user-zoom: fixed;
}

@-moz-viewport {
    width: 100vw;
    zoom: 100%;
    user-zoom: fixed;
}

@-webkit-viewport {
    width: 100vw;
    zoom: 100%;
    user-zoom: fixed;
}

::selection {
    color: #fff;
    background-color: #009688;
}


/*
===============================================
GENERAL
=================================================
*/

body {
    background-color: #EEEEEE;
}

.centrar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
